<div class="contextual">
<%= link_to_if_authorized t(:label_survey_new),
                          {:controller => 'surveys', :action => 'new', :project_id => @project},
                           :class => 'icon icon-add' %>
</div>

<h2><%= t(:label_surveys) %></h2>

<%= render :partial => 'survey', :collection => @surveys %>

<p>
<%= t(:survey_sure_message) %><br />
<%= t(:survey_thank_you_message) %>
</p>
